@import './vars.scss';
@import './mixins.scss';


div.container-under-nav {
    position: relative;
    top: $appContainerTopPos;
    background-color: $mainBackgroundColor;
    min-height: $jumbotronHeight;
}

div.main-jumbotron {
    padding: $mainPadding;
    margin: 0;
    display: flex;
    align-items: center;
    min-height: $jumbotronHeight;
    color: $fontColorOnDark;
    background-color: $complementaryIndexColor;
}

footer.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerHeight;
    background-color: $footerBackgroundColor;
    color: $footerFontColor;
    

}
