@import './vars.scss';
@import './mixins.scss';


form.login-form {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 500px;
} 

div.container-under-nav-login {
    @include containerUnderNavStyle($loginUnderNavBgColor);
}