@import './vars.scss';


@mixin navShadowStyle($topPos, $static) {
    &::after {
        content: "";
        width: 100%;
        display: block;
        @if $static {
            position: absolute;
        } @else {
            position: fixed;
        } 
        top: $topPos;
        left: 1px;
        z-index: 1;
        box-shadow: 0px 1px 6px 1px #212121;
    }
}

@mixin containerUnderNavStyle($bgColor) {
    position: relative;
    top: $appContainerTopPos;
    background-color: $bgColor;
    min-height: $jumbotronHeight;
}

@mixin navbarTronStyle($bgColor, $fontColor) {
    display: flex;
    position: relative;
    align-items: center;  
    top: $navbarTronTopPos;
    background-color: $bgColor;
    color: $complementaryIndexColor;
    font-size: 28px;
    padding: $mainPadding;
    margin: 0 auto;
    height: $navbarTronHeight;

    h1.navbar-tron-header-appear {
        opacity: 1;
        color: $fontColor;
        transition: opacity .5s ease-in;
    }

    h1.navbar-tron-header-disappear {
        opacity: 0;
        color: $fontColor;
        transition: opacity .5s ease-out;
    }
}

@mixin breadcrumbNavStyle($bgColor, $fontColor) {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: $breadcrumbNavHeight;
    background-color: $bgColor;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 10;
    padding: $mainPadding;

    li {
        box-sizing: border-box;
        padding: 10px 0;
        &:hover {
            border-bottom: 2px solid $fontColor;
        }
    }

    li + li:before {
        display: none;
    }

    a {
        box-sizing: border-box;
        font-size: 13px;
        font-weight: bold;
        color: $fontColor;
        padding: 10px 5px;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}