@import './vars.scss';
@import './mixins.scss';


div.notepad-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

button.dropdown-btn {
    top: -6px;
    background-color: transparent;
}

button.btn-fixed {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 10;
    background-color: $notepadBgColor;
    color: $notepadFontColor;

    &:hover {
        border: 1px solid $notepadBgColor;
        color: $notepadBgColor;
    }
}

div.panel-margin {
    margin: 0;
    margin-top: 20px;
}