// nav
$mainIndexColor: #FBBC05;
$complementaryIndexColor: #212121;
$breadcrumbNavHeight: 70px;
$navbarTronHeight: 170px;
$navbarTronTopPos: $breadcrumbNavHeight - 1px;
$mainPadding: 8px 15px;

// app container
$mainBackgroundColor: #EEE;
$appContainerTopPos: $breadcrumbNavHeight - 1px;
$fontColorOnDark: #E9E9E9;

// index page
$jumbotronHeight: 500px;
