// nav
$mainIndexColor: #FBBC05;
$complementaryIndexColor: #212121;
$loginBgColor: #81e5c9;
$loginFontColor: #27463e;
$loginUnderNavBgColor: #4285F2;
$notepadBgColor: #ea4335;
$notepadFontColor: #FFFAFA;
$addEditBgColor: #4285f4;
$addEditFontColor: #FFFAFA;
$breadcrumbNavHeight: 70px;
$navbarTronHeight: 170px;
$navbarTronTopPos: $breadcrumbNavHeight - 1px;
$mainPadding: 8px 15px;

// app container
$mainBackgroundColor: #EEE;
$appContainerTopPos: $breadcrumbNavHeight - 1px;
$fontColorOnDark: #E9E9E9;

// index page
$jumbotronHeight: 500px;

// footer
$footerHeight: 150px;
$footerBackgroundColor: #FFFAFA;
$footerFontColor: #212121;