doctype html
html(lang='pl')

    head
        title simple-todo
        //- link(href='/assets/style.css', rel='stylesheet', type='text/css')

    body

        //- include partials/navbar.pug
        
        //- h1 index
        #app

        include partials/footer.pug

        script(src="bundle.js", type="text/javascript")