doctype html
html(lang='pl')

    head
        title simple-todo
        //- link(href='/assets/style.css', rel='stylesheet', type='text/css')
        link(href="https://fonts.googleapis.com/css?family=Space+Mono", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", rel="stylesheet", type="text/css")
        
    body

        //- include partials/navbar.pug
        
        //- h1 index
        #app

        //- include partials/footer.pug

        script(src="bundle.js", type="text/javascript")